<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Apurva Badithela
              </h1>
              <p>I am a fourth-year PhD student in Control and Dynamical Systems at Caltech. My PhD advisor is Richard M. Murray. I work on Formal Methods for Test and Evaluation, and Verification and Validation of Autonomy.</p>
              <p style="text-align:center">
                <a target="apurva@caltech.edu" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/abadithela">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=w-d1dsAAAAAJ&hl=en&oi=ao">Google Scholar</a> &nbsp;/&nbsp;
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile_pic.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>

              <h3>Conference Papers</h3>
              <td style="padding:20px;width:100%;vertical-align:middle">
                  <papertitle>Towards Better Test Coverage: Merging Unit Tests for Autonomous Systems.</papertitle>
                </a>
                <br>
                <a href="https://www.linkedin.com/in/josefine-graebener-654815159">Josefine Graebener<sup>*</sup></a>,
                <strong>Apurva Badithela<sup>*</sup></strong>,
                <a href="https://murray.cds.caltech.edu/Main_Page">Richard M. Murray</a>,

                <br>
                <em>NASA Formal Methods</em>, 2022
                <br>
                <a href="https://www.cds.caltech.edu/~murray/preprints/gbm22-nfm_s.pdf">preprint</a> /
                <a href="https://github.com/jgraeb/MergeUnitTests">code</a> /
                <p></p>
                <p>A framework for merging unit test cases for high-level decision-making of autonomy.</p>
              </td>

              <td style="padding:20px;width:100%;vertical-align:middle">
                  <papertitle>Leveraging Classification Metrics for Quantitative System-level Analysis of Temporal Logic Specifications.</papertitle>
                </a>
                <br>
                <strong>Apurva Badithela</strong>,
                <a href="https://tichakorn.dev">Tichakorn Wongpiromsarn</a>,
                <a href="https://murray.cds.caltech.edu/Main_Page">Richard M. Murray</a>,

                <br>
                <em>IEEE 60<sup>th</sup> Conference of Decision and Control</em>, 2021
                <br>
                <a href="https://arxiv.org/pdf/2105.07343">arxiv</a> /
                <a href="https://github.com/abadithela/validate_perception_metrics/tree/master">code</a> /
                <p></p>
                <p>Framework for evaluating perception and control with respect to high-level temporal logic specifications. This work considers the perception and control stack end-to-end, and illustrates how perception metrics can be leveraged in reasoning about system behavior with respect to its formal requirements. </p>
              </td>

              <td style="padding:20px;width:100%;vertical-align:middle">
                  <papertitle>Analysis of the Heavy-ball Algorithm using Integral Quadratic Constraints.</papertitle>
                </a>
                <br>
                <strong>Apurva Badithela</strong>,
                <a href="https://seiler.engin.umich.edu">Peter J. Seiler</a>,

                <br>
                <em>IEEE American Control Conference (ACC)</em>, 2019
                <br>
                <a href="https://ieeexplore.ieee.org/iel7/8789884/8814292/08814459.pdf">arxiv</a> /
                <p></p>
              </td>

              <h3>Journal Papers</h3>
              <td style="padding:20px;width:100%;vertical-align:middle">
                  <papertitle>Dynamic Modeling of a Sensible Thermal Energy Storage Tank with an Immersed Coil Heat Exchanger under Three Operation Modes.</papertitle>
                </a>
                <br>
                <a href="https://www.linkedin.com/in/josefine-graebener-654815159">Austin Nash</a>,
                <strong>Apurva Badithela</strong>,
                <a href="https://murray.cds.caltech.edu/Main_Page">Neera Jain</a>,

                <br>
                <em>Applied Energy</em>, 2017
                <br>
                <a href="https://www.sciencedirect.com/science/article/pii/S0306261917303343">arxiv</a> /
                <p></p>
              </td>
              <h3>Preprints</h3>
              <td style="padding:20px;width:100%;vertical-align:middle">
                  <papertitle>Synthesis of Static Test Environments for Generating Sequence-like Behaviors in Autonomous Systems.
                  </papertitle>
                </a>
                <br>
                <strong>Apurva Badithela</strong>,
                <a href="https://murray.cds.caltech.edu/Main_Page">Richard M. Murray</a>,

                <br>
                <em>NASA Formal Methods (Submitted)</em>, 2021
                <br>
                <a href="https://arxiv.org/abs/2108.05911">preprint</a> /
                <a href="https://github.com/abadithela/NFM2021_Static_Test_Synthesis">code</a> /
                <p></p>
                <p>For synthesizing a minimally constrained test environment for discrete decision making systems.</p>
              </td>
            </td>
          </tr>
        </table>



        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
